body {
    background-color: rgb(135, 255, 255);
    color: rgb(59, 59, 59);
    font-family: Geneva, Tahoma, sans-serif;
    text-align: center;
}
.formul {
    background-color: aliceblue;
    border-width: 5px;
    border-color: aquamarine;
    border-style: solid;
    padding: 20px;    
}
.cabecalho {
    background-color: aliceblue;
    border-width: 5px;
    border-color: aquamarine;
    border-style: solid;
}
.form-button{
    cursor: pointer;
    background-color: #0056b3;
}
.bindex{
    border-color: aqua;
    border-radius: 5px;
}
.table{
    text-align: center;
    background-color: aliceblue;
}